
.DS_Store

Concentration.xcodeproj/project.xcworkspace/xcuserdata/jaredsmigelski.xcuserdatad/UserInterfaceState.xcuserstate

*.xcsettings

Concentration.xcodeproj/xcuserdata/jaredsmigelski.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
